# Created by .ignore support plugin (hsz.mobi)
/voice_gender.egg-info/dependency_links.txt
/voice_gender.egg-info/SOURCES.txt
/voice_gender.egg-info/top_level.txt
/voice_gender.egg-info/requires.txt
/voice_gender.egg-info/PKG-INFO
/dist/voice-gender-0.1.tar.gz
/dist/voice-gender-0.2.1.tar.gz
/dist/
/voice_gender.egg-info/
